.highlights{
    width: 100%;
    display: flex;
    margin-bottom: 5%;
}

img{
    width: 100%;
}

.content{
    display: flex;
    margin-top: 2% ;
}

.content div{
    flex:1;
}

.button{
   padding:1%;
   background-color: hsl(240, 100%, 5%);
   color: white;
   padding: 3%;
   letter-spacing: 5px;
   font-weight: 500;
}

.new{
    width: 33%; background-color: hsl(240, 100%, 5%);color: white;
    padding: 2%;
}

.list{
    display: flex;
    flex-direction: column;
    height: 80%;
    gap: 4px;
}

.list div{
    flex:1;
    line-height: 20px;
    color: hsl(36, 100%, 99%);
}

.list div:hover{
    span{
        color: hsl(35, 77%, 62%);
    }
}
.subhead{
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.div1{
    width: 65%;
    margin-right: 2%;
}